<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
 <!--listeners>
	  <listener class-name="com.qa.listeners.TestListener" /> 
	  </listeners -->
	  
  <test name="Default test name" parallel="methods" thread-count="2" verbose="2" >
	
    <classes>
      <class name="com.qa.testRunners.MyTestNGRunnerTest"/>
    </classes>
  </test> <!-- Default test -->
 
</suite> <!-- Suite -->
